* {
  margin: 0;
  padding: 0;
}
html,
body{
  height: 100%;
}

.box {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #2e2e2e;
}
.box-wp{
  position: relative;
  width: 30%;
  margin: 0 auto;
  padding-top: 1rem;
}
.btn {
  display: block;
  margin-bottom: 1rem;
  background-color: #4CAF50;
  font-size: 1.8rem;
  border-radius: 1rem;
  padding: 1rem 0;
  width: 80%;
  text-align: center;
  color: aliceblue;
  margin: 0 auto;
  transition: opacity 0.24s;
  cursor: pointer;
  user-select: none;
}
.btn:active{
  opacity: 0.8;
}
.img{
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin: 1rem auto 0;
}
.console{
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
}
.console .tt {
  color: aliceblue;
  margin: 1rem 0;
  user-select: none;
}
.console .txtarea{
  box-shadow: inset 0px 0px 6px 1px;
  padding: 1em;
  line-height: 1.2rem;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.1);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(1);
  }
}

.heartBeat {
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

